page-basket {
  .toolbar-header{
    margin-right: 40px;
  }
  .basket-item{
    display: block;
    margin: auto;
    background: $background-color-fifth;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    margin-top: 5%;


    ion-item{
      background: $background-color-fifth;

      .basket-body{
        h3{
          font-size:1em;
        }
        p{
          color:#fff;
          font-size:0.8em;
        }
      }
      .basket-buttons{
        float: right;
      }



    }

  }

}
