<ion-item text-wrap>
  <ion-row>
    <ion-card-title>Description :</ion-card-title>
    <ion-card-content>{{this.item.description}}</ion-card-content>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card-title>Time Preparation:</ion-card-title>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <ion-card-content>{{this.item.preptime}} Mintues</ion-card-content>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card-title>Price :</ion-card-title>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <ion-card-content>{{this.item.price}} &#8362;</ion-card-content>
    </ion-col>
  </ion-row>
</ion-item>
