<ion-item text-wrap>
  <ion-row>
    <ion-card-title class="title">Description :</ion-card-title>
    <ion-card-content class="content">{{this.item.description}}</ion-card-content>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card-title class="title">Preparation Time :</ion-card-title>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <ion-card-content class="content">{{this.item.preptime}} Mintues</ion-card-content>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card-title class="title">Price :</ion-card-title>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <ion-card-content class="content">{{this.item.price}} &#8362;</ion-card-content>
    </ion-col>
  </ion-row>
</ion-item>
