<ion-header>
  <ion-navbar color="second">
    <ion-buttons left>
      <button ion-button icon-only menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="toolbar-header">Review </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid class="review-box">
      <ion-card-title>
        <ion-row>
          <ion-col>
          Review For Order List : #{{this.orderListId}}
          </ion-col>
        </ion-row>
      </ion-card-title>
      <ion-card-content>
        <ion-card *ngFor="let item of items;let i = index">
          <ion-card-header>
            <ion-item>
              <ion-card-title> {{item.name}}</ion-card-title>
              <button ion-button icon-only item-right clear (click)="sendReview(item,i)">
                <ion-icon name="paper-plane" color="first"></ion-icon>
              </button>
            </ion-item>
            <img class="image-box" img-preloader="{{item.url}}" alt="">
          </ion-card-header>
          <ion-card-content>
            <ion-item-group>
              <ion-label>Leave a comment...</ion-label>
              <ion-item class="review-items">
                <ion-textarea type="text" placeholder='"It was tasty and I really enjoyed it..."' (input)="adjustTextarea($event);" [(ngModel)]="this.comment[i]"></ion-textarea>
              </ion-item>
              <ion-label>Rate {{item.name}}</ion-label>
              <ion-item class="review-items">
                  <ion-range min="0" max="5" step="1" snaps="true"  color="second" [(ngModel)]="this.stars[i]" >
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>5</ion-label>
                  </ion-range>
                </ion-item>
              </ion-item-group>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
  </ion-grid>
</ion-content>


