review {

  .image-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
    height: 10em;
  }
  .card{
    border-radius: 5px !important;
  }

  .button{
    margin: auto;
    display: block;
  }
  .review-box{
    display: block;
    width: 100%;
    margin: auto;
    background: $background-color-fifth;
    border-radius: 30px;

    ion-row {
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
    }

    .review-items {
      border-radius: 10px !important;
      padding-left: 10px !important;
      font-size: 1.4em;
      border: 1px solid $background-color-first;
      -webkit-box-shadow: 4px 4px 14px -3px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 4px 14px -3px rgba(0,0,0,0.75);
      box-shadow: 4px 4px 14px -3px rgba(0,0,0,0.75);
      ion-input {

      }
      ion-range{

      }

    }
    ion-label{
      font-size: 0.9em;
    }
  }
  .check-btn{
    margin: auto;
    display: block;
    background: $background-color-sixth;
    border-radius: 30px !important;
    border: 1px solid #ffffff;
  }

  .item-footer{
    button{
      display: block;
      background: $background-color-sixth;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }
  }

}
