page-tracking {
  .tracking-box {
    display: block;
    width: 90%;
    margin: auto;
    background: $background-color-fifth;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    margin-top: 5%;

    .review-btn{
      margin: auto;
      display: block;
      background: $background-color-sixth;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }
  }
}
