<ion-row>
  <ion-title>
    <p ion-text>
      Order Status : {{this.orderList.status}}
    </p>
    <p ion-text>
      Pick Up Time : {{this.orderList.ol_dttm | date: 'medium' : 'UTC' }}
    </p>
  </ion-title>
</ion-row>
<ion-row *ngFor="let or of orders; let i = index">
  <ion-col>
    Item : {{items[i]?.name}}
  </ion-col>
  <ion-col>
  </ion-col>
  <ion-col>
    Quantity: {{or?.qty}}
  </ion-col>
</ion-row>
<div *ngIf="displayReview">
  <ion-row>
    <ion-title>
      <p ion-text text-wrap>
        Please Click On The 'Leave A Review' button , So We Could Improve Our Services.
      </p>
    </ion-title>
  </ion-row>
  <ion-row>
    <button ion-button round small color="first" class="check-btn" icon-start (click)="initReviewForm()">
      <ion-icon name='create'></ion-icon>
      Leave A Review
    </button>
  </ion-row>
</div>
<ion-row>
  <ion-title>
    <p ion-text>
      Order Total Price : {{this.orderList.totalprice}} &#8362;
    </p>
  </ion-title>
</ion-row>
