page-passwordreset {
  .form-content {
    // background color
    background: $background-color-first;
    // logo
    .logo-image{
      width: 200px;
      margin: auto;
      background-color: transparent !important;
    }

    .logo-row {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    // global to all forms
    .form-box {
      background: $background-color-fifth;
      padding: 20px 20px 0px 20px;
      border-radius: 20px;
      margin-top: 17%;
    }
    // form submit button
    .form-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }
    // global to all forms
    .submit-btn {
      background: $background-color-sixth;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }


    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

  }
}
