<ion-header>
  <ion-navbar color="second">
    <ion-buttons left>
      <button ion-button icon-only menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="toolbar-header">{{this.title}} Details</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="white" clear (click)="gotoBasket()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="cart-badge">{{this.countItems}}</ion-badge>
      </button>
    </ion-buttons>
</ion-navbar>
</ion-header>
<ion-content padding>
 <ion-grid class="item-box">
     <ion-card-title>
       <ion-row>
         <ion-col>
           <img class="image-box" img-preloader="{{this.item.url}}" alt="">
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col></ion-col>
         <ion-col>
           <h3 ion-text="dark"> {{this.item.name}}</h3>
         </ion-col>
         <ion-col></ion-col>
       </ion-row>
     </ion-card-title>
     <ion-card-content>
       <ion-row>
         <ion-card-title>Description :</ion-card-title>
         <ion-card-content>{{this.item.description}}</ion-card-content>
       </ion-row>
       <ion-row>
         <ion-col>
           <ion-card-title>Time Preparation:</ion-card-title>
         </ion-col>
         <ion-col></ion-col>
         <ion-col>
           <ion-card-content>{{this.item.preptime}} Mintues</ion-card-content>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col>
           <ion-card-title>Price :</ion-card-title>
         </ion-col>
         <ion-col></ion-col>
         <ion-col>
           <ion-card-content>{{this.item.price}} &#8362;</ion-card-content>
         </ion-col>
       </ion-row>
       <ion-row *ngIf="displayButton">
         <ion-col>
           <button  ion-button round small class="check-btn" icon-start (click)="addToCart(item)">
             <ion-icon name='share-alt'></ion-icon>
             Add to Cart
           </button>
         </ion-col>
       </ion-row>
       <review-item></review-item>
     </ion-card-content>
 </ion-grid>
</ion-content>


