cor-drink-quick {
  .quick-box-form{
    display: block;
    width: 90%;
    margin: auto;
    background: $background-color-fifth;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    margin-top: 5%;
    .item-image{
      display:block;
      margin-left: auto;
      margin-right:auto;
      height:40%;
      width: 80%;
    }
    ion-icon{
      font-size: 30px;
    }

    ion-img{
      display:block;
      contain: none;

      img{
        border-radius: 10px;
        contain: none;
      }
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;

    }
    .item-list{
      width: 70% !important;
    }
    .item-decs{
      width: 100% !important;
      height: 100px !important;

    }
    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }
    .item-button{
      margin-bottom: 8px;
    }
    .desc-header{
      margin:5px !important;
    }
    ion-label{
      font-size: 1.0em;
      strong{
        font-size: 1.2em;
      }
    }

    ion-row {
      align-items: center;
      text-align: center;
      margin-bottom: 5px;
    }

    .icon-btn{
      margin-bottom: 15px;
      margin-right:20px;
      display: block;
      background: $background-color-sixth;
      border-radius: 50px !important;
      border: 1px solid #ffffff;
    }

    .submit-btn{
      margin: auto;
      display: block;
      background: $background-color-sixth;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }


  }

  .quick-order-footer{
    button{
      display: block;
      background: $background-color-sixth;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }
  }
  .quick-order-price{
    display: block;

  }
}
