app-footer-nav {
  display: block;
  width: 100%;
  ion-buttons{
    display: block;
    float: none;
  }
  .button-space{
    display: inline-block;
    margin-left: 1% !important;
    margin-right: 1% !important;

    ion-icon {
      font-size: 20px;
      margin-right:15px;
      margin-left:15px;
    }
    label{
      font-size:13px;
    }
  }
}
