<ion-item>
  <ion-avatar item-start>
    <img src="../../assets/imgs/item.png">
  </ion-avatar>
  <div class="basket-body">
    <h3>{{item.name}}</h3>
    <p>{{item.qty}} x &#8362; {{item.price}} =
      <strong> &#8362; {{item.price * item.qty}}</strong>
    </p>
  </div>
  <div class="basket-buttons">
    <ion-buttons item-end>
      <button class="icon-btn" ion-button icon-only small color="first" (click)="deleteItem(item.itemid)">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button class="icon-btn" ion-button icon-only small color="first" (click)="quantity(item.itemid,'Plus')">
        <ion-icon name="add"></ion-icon>
      </button>
      <button class="icon-btn" ion-button icon-only small color="first" (click)="quantity(item.itemid,'Minus')">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-buttons>
  </div>
</ion-item>
