// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header {

  ion-navbar {
    .button-md {
      box-shadow: none;
    }
    .toolbar-title {
      font-size: 1.1em;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
    .toolbar-title-second {
      font-size:1.1em;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      margin-right: 18% !important;
    }
    ion-buttons{
      padding:2.5%;
    }
    .cart-badge {
      position: absolute;
      top: -6px;
      right: -8px;
    }
  }
}

ion-content{
  background: $background-color-first;

  .scroll-content{
    background-color: $background-color-first;
  }
}
ion-footer {
  background: $background-color-first;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS
  // LOGIN
  .logo-img{
    width: 20%;
    margin: auto;
    background-color: transparent !important;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS
  // LOGIN
  .logo-img{
    width: 25%;
    margin: auto;
    background-color: transparent !important;
  }

}


@media (min-width: 768px) and (max-width: 1024px) {

  //CSS
  // LOGIN
  .logo-img{
    width: 30%;
    margin: auto;
    background-color: transparent !important;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS
  // LOGIN
  .logo-img{
    width: 45%;
    margin: auto;
    background-color: transparent !important;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS
  // LOGIN
  .logo-img{
    width: 45%;
    margin: auto;
    background-color: transparent !important;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS
  // LOGIN
  .logo-img{
    width: 70%;
    margin: auto;
    background-color: transparent !important;
  }


}





