// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header {

  ion-navbar {
    .button-md {
      box-shadow: none;
    }
    .toolbar-title {
      font-size: 1em;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
    .toolbar-title-second {
      font-size: 1em;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
    ion-buttons{
      padding:2.5%;
    }
    .cart-badge {
      position: absolute;
      top: -6px;
      right: -8px;
    }
  }
}

ion-content{
  background: $background-color-first;

  .scroll-content{
    background-color: $background-color-first;
  }
}
ion-footer {
  background: $background-color-first;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS
  .toolbar-title {
    font-size: 1.5em !important;
  }
  .toolbar-title-second{
    margin-right:10%;
    font-size:1.5em !important;
  }
  // LOGIN
  .logo-img{
    width: 20%;
    margin: auto;
    background-color: transparent !important;
  }
  .login-box {
      display: block;
      position: fixed;
      width: 50%;
      margin: 20px auto;
      bottom: 0;
      left: 25%;
      background: $background-color-fifth;
      padding: 20px 20px 0px 20px;
      border-radius: 20px;
  }
  // REGISTER
  .register-box {
    display: block;
    position: fixed;
    margin: 20px auto;
    bottom: 0;
    left: 25%;
    width: 50%;
    background: $background-color-fifth;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
  }
  .register-img{
    width: 30%;
    background-color: transparent !important;
    border-radius: 50% !important;
  }
  // ITEM
  .image-box{
    image-rendering: pixelated;
    width: 30%;
  }
  // MENU - ITEM INFO
  item-menu{
    h2{
      margin-top: 5px !important;
      font-size: 1.4em !important;
    }
    .item-price{
      font-size: 1.5em !important;
    }
    .item-decs{
      font-size: 1em !important;
    }
    .item-qty{
      font-size: 1.2em !important;
    }
  }
  // ITEM - TEXT
  info-item{
    .title{
      font-size:1.5em !important;
    }
    .content{
      font-size:1em !important;
    }
  }


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS
  .toolbar-title {
    font-size: 1.5em !important;;
  }
  .toolbar-title-second{
    margin-right:10%;
    font-size:1.5em !important;
  }
  // LOGIN
  .logo-img{
    width: 25%;
    margin: auto;
    background-color: transparent !important;
  }
  .login-box {
    display: block;
    position: fixed;
    width: 50%;
    margin: 20px auto;
    bottom: 0;
    left: 25%;
    background: #5DC7A7;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
  }
  // REGISTER
  .register-box {
    display: block;
    position: fixed;
    margin: 20px auto;
    bottom: 0;
    left: 25%;
    width: 50%;
    background: $background-color-fifth;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
  }
  .register-img{
    width: 30%;
    background-color: transparent !important;
    border-radius: 50% !important;
  }
  // ITEM
  .image-box{
    image-rendering: pixelated;
    width: 30%;
  }
  // MENU - ITEM INFO
  item-menu{
    h2{
      margin-top: 5px !important;
      font-size: 1.4em !important;
    }
    .item-price{
      font-size: 1.5em !important;
    }
    .item-decs{
      font-size: 1em !important;
    }
    .item-qty{
      font-size: 1.2em !important;
    }
  }
  // ITEM - TEXT



}


@media (min-width: 768px) and (max-width: 1024px) {

  //CSS
  .toolbar-title {
    font-size: 1.5em !important;;
  }
  .toolbar-title-second{
    margin-right:10%;
    font-size:1.5em !important;
  }
  // LOGIN
  .logo-img{
    width: 30%;
    margin: auto;
    background-color: transparent !important;
  }
  .login-box {
    display: block;
    position: fixed;
    width: 50%;
    margin: 20px auto;
    bottom: 0;
    left: 25%;
    background: #5DC7A7;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
  }
  // REGISTER
  .register-box {
    display: block;
    position: fixed;
    margin: 20px auto;
    bottom: 0;
    left: 25%;
    width: 50%;
    background: $background-color-fifth;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
  }
  .register-img{
    width: 50%;
    background-color: transparent !important;
    border-radius: 50% !important;
  }
  // ITEM
  .image-box{
    image-rendering: pixelated;
    width: 30%;
  }
  item-menu{
    h2{
      margin-top: 5px !important;
      font-size: 1.4em !important;
    }
    .item-price{
      font-size: 1.5em !important;
    }
    .item-decs{
      font-size: 1em !important;
    }
    .item-qty{
      font-size: 1.2em !important;
    }
  }
  // ITEM - TEXT
  info-item{
    .title{
      font-size:1.5em !important;
    }
    .content{
      font-size:1em !important;
    }
  }


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS
  .toolbar-title {
    font-size: 1.5em !important;;
  }
  .toolbar-title-second{
    margin-right:10%;
    font-size:1.5em !important;
  }
  // LOGIN
  .logo-img{
    width: 45%;
    margin: auto;
    background-color: transparent !important;
  }
  .login-box {
    display: block;
    position: fixed;
    width: 50%;
    margin: 20px auto;
    bottom: 0;
    left: 25%;
    background: #5DC7A7;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
  }
  // REGISTER
  .register-box {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    background: #5DC7A7;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;

  }
  .register-img{
    width: 30%;
    background-color: transparent !important;
    border-radius: 50% !important;
  }
  // ITEM
  .image-box{
    image-rendering: pixelated;
    width: 30%;
  }
  item-menu{
    h2{
      margin-top: 5px !important;
      font-size: 1.2em !important;
    }
    .item-price{
      font-size: 1.3em !important;
    }
    .item-decs{
      font-size: 0.7em !important;
    }
    .item-qty{
      font-size: 0.9em !important;
    }
  }
  // ITEM - TEXT
  info-item{
    .title{
      font-size:1.5em !important;
    }
    .content{
      font-size:1em !important;
    }
  }


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS
  // LOGIN
  .toolbar-title {
    font-size: 1.1em !important;;
  }
  .toolbar-title-second{
    margin-right:14%;
    font-size:1.1em !important;
  }
  .logo-img{
    width: 45%;
    margin: auto;
    background-color: transparent !important;
  }
  .login-box {
    display: block;
    position: fixed;
    width: 75%;
    margin: 20px auto;
    bottom: 0;
    left: 12.5%;
    background: #5DC7A7;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
  }
  // REGISTER
  .register-box {
    display: block;
    position: fixed;
    width: 75%;
    margin: 20px auto;
    left: 12.5%;
    bottom: 0;
    background: $background-color-fifth;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
  }
  .register-img{
    width: 50%;
    background-color: transparent !important;
    border-radius: 50% !important;
  }
  // ITEM
  .image-box{
    image-rendering: pixelated;
    width: 40%;
  }
  item-menu{
    h2{
      margin-top: 5px !important;
      font-size: 1.2em !important;
    }
    .item-price{
      font-size: 1.3em !important;
    }
    .item-decs{
      font-size: 0.7em !important;
    }
    .item-qty{
      font-size: 0.9em !important;
    }
  }
  // ITEM - TEXT
  info-item{
    .title{
      font-size:1.3em !important;
    }
    .content{
      font-size:0.9em !important;
    }
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 250px) and (max-width: 480px) {

  //CSS
  .toolbar-title {
    font-size: 1.1em !important;
  }
  .toolbar-title-second{
    margin-right:14%;
    font-size:1.1em !important;
  }
  // LOGIN
  .logo-img{
    width: 70%;
    margin: auto;
    background-color: transparent !important;
  }
  .login-box {
    display: block;
    position: relative;
    //position: fixed;
    //bottom:0;
    //left:0;
    width: 90%;
    margin: auto;
    // margin-left: 5%;
    // margin-bottom:40px;
    background: $background-color-fifth;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
  }
  // REGISTER
  .register-box {
    display: block;
    position: relative;
    // bottom:0;
    // left:0;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom:10px;
    background: $background-color-fifth;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
  }
  .register-img{
    width: 50%;
    margin: auto;
    background-color: transparent !important;
  }
  .image-box{
    image-rendering: pixelated;
    width: 50%;
  }
  // ITEM - MENU
  item-menu{
    h2{
      margin-top: 5px !important;
      font-size: 1em !important;
    }
    .item-price{
      font-size: 0.9em !important;
    }
    .item-decs{
      font-size: 0.4em !important;
    }
    .item-qty{
      font-size: 0.6em !important;
    }
  }
  // ITEM - TEXT
  info-item{
    .title{
      font-size:1.1em !important;
    }
    .content{
      font-size:0.8em !important;
    }
  }


}





