<ion-header>
  <ion-navbar color="second">
    <ion-buttons left>
      <button ion-button icon-only menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="toolbar-header">{{this.title}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="white" clear (click)="gotoBasket()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="cart-badge">{{this.countItems}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid *ngIf="displayFoodList">
    <div class="card-background-page">
      <ion-card button *ngFor="let item of itemList" (click)="pushItem(item)">
        <img src="../../assets/imgs/food-menu.jpg"/>
        <div class="card-title">{{item.name}}</div>
        <div class="card-subtitle">Price: {{item.price}} &#8362;  </div>
      </ion-card>
    </div>
  </ion-grid>
  <ion-grid *ngIf="displayDrinkList">
    <div class="card-background-page">
      <ion-card button *ngFor="let item of itemList" (click)="pushItem(item)">
        <img src="../../assets/imgs/drinkss.jpg"/>
        <div class="card-title">{{item.name}}</div>
        <div class="card-subtitle">Price: {{item.price}} &#8362;  </div>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
