<ion-header>
  <ion-navbar color="second">
    <ion-buttons left>
      <button ion-button icon-only menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="toolbar-header">{{this.title}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="white" clear (click)="gotoBasket()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="cart-badge">{{this.countItems}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid *ngIf="displayFoodList">
    <ion-row *ngFor="let item of itemList">
      <ion-col>
        <button ion-item no-lines (click)="pushItem(item)" color="third">
          <ion-label>{{item.name}}</ion-label>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="displayDrinkList">
    <ion-row *ngFor="let item of itemList">
      <ion-col>
        <button ion-item no-lines (click)="pushItem(item)" color="third">
          <ion-label>{{item.name}}</ion-label>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
