<ion-header>
  <ion-navbar color="second">
    <ion-buttons left>
      <button ion-button icon-only menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="toolbar-header">Checkout</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid class="quick-ticket-box">
    <ion-card-title>
      Order Information
    </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-row>
          <ion-col col-3>
            <p ion-text><strong>To :</strong></p>
          </ion-col>
          <ion-col col-1></ion-col >
          <ion-col col-6>
            <p ion-text> {{this.student.firstname}} {{this.student.lastname}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <p ion-text><strong>Phone :</strong></p>
          </ion-col>
          <ion-col col-1></ion-col>
          <ion-col col-6>
            <p ion-text> {{this.student.phone}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <p ion-text><strong>Credit :</strong></p>
          </ion-col>
          <ion-col col-1></ion-col>
          <ion-col col-6>
            <p ion-text>{{this.student.credit}} &#8362;</p>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of items">
          <ion-col>
            {{item.name}}
          </ion-col>
          <ion-col>
            {{item.qty}}X
          </ion-col>
          <ion-col>
            {{item.price}} &#8362;
          </ion-col>
        </ion-row>
        <ion-row class="basket-total">
          <ion-col>
            Total Price : {{this.totalPrice}} &#8362;
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card-content>
  </ion-grid>
  <ion-grid class="quick-ticket-box">
    <ion-row>
      <ion-item>
        <ion-label>Pick-Up Time :</ion-label>
        <ion-datetime displayFormat="HH:mm:ss" [min]="startDatetimeMin"  [(ngModel)]="this.orderTime" (ngModelChange)="dateChanged()"></ion-datetime>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="submit-btn" ion-button round (click)="checkTime()" [disabled]="!ischeckTimeEnable">Check Time</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="displaySuccessTime">
      <ion-col>
        <ion-item text-wrap>
          <h3 ion-text align-self-center> Time to place your order : </h3>
          <p ion-text> {{this.timeOffered | date: "medium" : 'UTC'}}</p>
          <timer #countdown [timeInSeconds]="60" (notifyTimer)="onChange($event)" ></timer>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-shadow class="quick-order-ticket-buttons" *ngIf="displayButtons">
  <ion-toolbar position="bottom" color="first">
    <button ion-button round float-left (click)="clearOrder()" [disabled]="!isenabled">Clear</button>
    <button ion-button round float-right (click)="doConfirm()" [disabled]="!isenabled">Place Order</button>
  </ion-toolbar>
</ion-footer>
