quick-order-ticket {

  .toolbar-header{
    margin-right: 40px;
  }

  .quick-ticket-box{
    display: block;
    width: 90%;
    margin: auto;
    background: $background-color-fifth;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    margin-top: 5%;

    ion-card-title{
      text-align: center;

    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    ion-label{
      font-size: 1.1em;
    }

    ion-row {
      align-items: center;
      text-align: center;

    }

    .icon-btn{
      margin-bottom: 15px;
      margin-right:20px;
      display: block;
      background: $background-color-sixth;
      border-radius: 50px !important;
      border: 1px solid #ffffff;
    }

    .submit-btn{
      margin: auto;
      display: block;
      background: $background-color-sixth;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }
    .button-inner{

    }

  }

  .quick-order-ticket-buttons{
    button{
      display: block;
      background: $background-color-sixth;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }
  }

}
