item-menu{
  img {
    max-width: 10.6rem !important;
    max-height: 10.6rem !important;
    border-radius: 5px;
  }
  p {
    font-size: 0.6em !important;
  }
  ion-item {
    margin-bottom:20px !important;
  }
}
