item-menu{
  img {
    max-width: 10.6rem !important;
    max-height: 10.6rem !important;
    border-radius: 5px;
  }

  ion-item {
    margin-bottom:20px !important;
  }
  .item-price{
    display:inline-block;
    margin-top: 10px;
  }
  .item-qty{
    color:red;
    display: inline-block;
    margin-top:10px;
  }
}
